# log
log/

# coco dataset
coco_dataset/

# all zip file
*.zip

# src run file
.idea/

# export model files
models

# model and coco wight file
coco

# predict image file
inference_results

# catch file
__pycache__/